<% provide(:title, @rater.name) %>
<h3>
  <%= @rater.name %>
</h3>
<h3>
  <%= @rater.email %>
</h3>
<h3>
  <%= @rater.atype %>
</h3>
<h3>
  <%= @rater.reputation %>
</h3>
<h3>
  <%= @rater.created_at %>
</h3>