<% provide(:title, @menuitem.name) %>
<h3>Name:
  <%= @menuitem.name %>
</h3>
<h3>Type:
  <%= @menuitem.mtype %>
</h3>
<h3>Category:
  <%= @menuitem.category %>
</h3>
<h3>Description:
  <%= @menuitem.description %>
</h3>
<h3>Price:
  <%= number_to_currency @menuitem.price %>
  
</h3>

<hr>
<% if logged_in? %>
<%= render 'menrev'%>
 <% else %>
         <u><strong> <%= link_to "Log In To Review This Menu Item", login_path %> </strong></u>
 <% end %>
 <hr>

<h1>Reviews</h1>
    <% if @menuitem.ratingitems.any? %>
      <ol>
      <% @menuitem.ratingitems.each do |rating| %>
      <li>
        <%= rating.comment %>
        |<%= pluralize(rating.rate,'star') %> 
        |Review posted <%= time_ago_in_words rating.created_at %> ago
        |<%= link_to rating.rater.name, rating.rater %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", rating, method: :delete,
                                  data: { confirm: "You sure?" } %>
                                  <% end %>
      </li>
      <% end %>
      </ol>
      <%= will_paginate @ratingitems %>
    <% end %>
   
<% if logged_in? && current_rater.admin?%>
<%= link_to 'Update Menu Item', edit_menuitem_path(menuitem_id: @menuitem), class: "btn btn-primary" %>
 <% end %>


