<% provide(:title, "Review") %>
<h4>Comment:
  <%= @rating.comment %>
</h4>
<h3>Price:
  <%= pluralize(@rating.price, 'star') %> 
</h3>
<h3>Food:
  <%= pluralize(@rating.food, 'star') %> 
</h3>
<h3>Mood:
  <%= pluralize(@rating.mood,'star') %> 
</h3>
<h3>Staff:
  <%= pluralize(@rating.staff,'star') %> 
</h3>
<h3>Posted:
  <%= time_ago_in_words(@rating.created_at) %>
</h3>
