<% provide(:title, "Review") %>
<h4>Comment:
  <%= @rating.comment %>
</h4>
<h3>Price:
  <%= @rating.price %> stars
</h3>
<h3>Food:
  <%= @rating.food %> stars
</h3>
<h3>Mood:
  <%= @rating.mood %> stars
</h3>
<h3>Staff:
  <%= @rating.staff %> stars
</h3>
<h3>Posted:
  <%= time_ago_in_words(@rating.created_at) %>
</h3>
