<% provide(:title, "Review") %>
<h4>
  <%= @rating.comment %>
</h4>
<h3>
  <%= @rating.price %>
</h3>
<h3>
  <%= @rating.food %>
</h3>
<h3>
  <%= @rating.mood %>
</h3>
<h3>
  <%= @rating.staff %>
</h3>
