<% provide(:title, 'All Restaurants') %>
<h1>Restaurants</h1>



<ul class="raters">
   <h2><u>Mexican: 
 <% @catAvg.each do |a| %>
 <% if a.rtype == "mexican" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
   </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "mexican" %>
 
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<ul class="raters">
 <h2><u>Italian:
 <% @catAvg.each do |a| %>
 <% if a.rtype == "italian" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
 </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "italian" %>
      
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<ul class="raters">
 <h2><u>Breakfast:
 <% @catAvg.each do |a| %>
 <% if a.rtype == "breakfast" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
 </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "breakfast" %>
      
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<ul class="raters">
 <h2><u>American:
 <% @catAvg.each do |a| %>
 <% if a.rtype == "american" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
 </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "american" %>
      
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<ul class="raters">
 <h2><u>Chinese:
 <% @catAvg.each do |a| %>
 <% if a.rtype == "chinese" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
 </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "chinese" %>
      
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<ul class="raters">
 <h2><u>French:
 <% @catAvg.each do |a| %>
 <% if a.rtype == "french" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
 </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "french" %>
      
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<ul class="raters">
 <h2><u>Pub:
 <% @catAvg.each do |a| %>
 <% if a.rtype == "pub" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
 </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "pub" %>
      
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<ul class="raters">
 <h2><u>Southern Style:
 <% @catAvg.each do |a| %>
 <% if a.rtype == "southern" %>
      <%= number_to_currency a.avp %> (Average Price)
  <% end %>
  <% end %>
 </u></h2>
  <% @restaurants.each do |restaurant| %>
  <% if restaurant.rtype == "southern" %>
      
    <li>
      <%= link_to restaurant.name, restaurant %>
        <% if logged_in? && current_rater.admin? %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <% end %>
    </li>
  <% end %>
</ul>


<hr>




<h3>Most Popular Restaurant Types Based on Number of Received Reviews:</h3>
    <% if @popType.any? %>
   <table class="table">
   <tr>
    <th>Restaurant Type</th>
    <th>Number of Reviews</th>
  </tr>
    <% @popType.each do |rating| %>
 <tr>
    <td><%= rating.rtype %></td>
    <td> <%= rating.numratings%></td>                    
  </tr>
<% end %>
</table>
<% end %>

<% if logged_in? && current_rater.admin? %>
<hr>

 <h1><strong><u>Stats</u></strong></h1>
    <% if @rateNum.any? %>
    <h2>Total number of rating for each restaurant, for each rater:</h2>
   <table class="table">
   <tr>
    <th>Restaurant</th>
    <th>Rater</th>
    <th>Number of Ratings</th>
  </tr>
    <% @rateNum.each do |rating| %>
 <tr>
    <td><%= rating.rtname %></td>
    <td> <%= rating.uname%></td> 
    <td> <%= rating.rcount%></td>                   
  </tr>
<% end %>
</table>
<% end %>

<br><br>

    <% if @janRate.any? %>
    <h2>Restaurants That Have Not Been rated in January 2015:</h2>
   <table class="table">
   <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Phone Number</th>
  </tr>
    <% @janRate.each do |rating| %>
 <tr>
    <td><%= rating.name %></td>
    <td> <%= rating.rtype%></td> 
    <td> <%= rating.phone%></td>                   
  </tr>
<% end %>
</table>
<% end %>

<br><br>

<h2>Names and Opening Dates of the Restaurants That Obtained Staff Rating that is Lower
Than Any Rating Given by the Following Rater:</h2>
   <%= form_tag restaurants_path, :method => "get" do %>
  <p>
    <%= label :search, 'Type of restaurant:' %>
    <%= select_tag :search, options_from_collection_for_select(Rater.all, :name, :name, params[:search]), include_blank: true %>
    </p>
    <p>
    <%= submit_tag "Search", :name => nil, class: "btn btn-warning" %>
  </p>
<% end %>

    <% if @rstat.any? %>
   <table class="table">
   <tr>
    <th>Restaurant</th>
    <th>Review Date</th>
  </tr>
    <% @rstat.each do |rating| %>
 <tr>
    <td><%= rating.rname %></td>
    <td> <%= time_tag rating.rdate%></td                 
  </tr>
<% end %>
</table>
<% end %>

<br><br>
    <% end %>







