<% provide(:title, @location.address) %>
<h3>Year Opened:
  <%= @location.fopen %>
</h3>
<h3>Manager:
  <%= @location.manager %>
</h3>
<h3>Phone Number:
  <%= @location.phone %>
</h3>
<h3>Postal Code:
  <%= @location.postal %>
</h3>
<h3>Address:
  <%= @location.address %>
</h3>
<h2>Hours of Operation</h2>
<h3>Monday:
  <%= @location.mon %>
</h3>

<h3>Tuesday: 
  <%= @location.tue %>
</h3>
<h3>Wednsday:
  <%= @location.wed %>
</h3>
<h3>Thursday:
  <%= @location.thurs %>
</h3>
<h3>Friday:
  <%= @location.fri %>
</h3>
<h3>Saturday:
  <%= @location.sat %>
</h3>
<h3>Sunday:
  <%= @location.sun %>
</h3>

 
   
<% if logged_in? && current_rater.admin?%>
<%= link_to 'Update Location', edit_location_path(location_id: @location), class: "btn btn-primary" %>
 <% end %>


